$main-color : #f7df1e ;
$second-color : #010101 ;
$white : #f0f0f0;
$third-color :#3b3b3b ;
$section-width : 99%; 
$section-heigth : 100vh ; 
$modal-second-color : #01010180;
$action-elements-button-distance : 1em;