// @import './style.scss';
@import './ball-game.scss';
@import './slider.scss';
// $main-color : #f7df1e;
$second-color : #010101 ;
$white : #f0f0f0;
$section-width : 99vw ; 
$section-heigth : 100vh ; 
$modal-second-color : #01010180;
$action-elements-button-distance : 1em;
html{
    scroll-behavior: smooth;
    font-family: fantasy, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: $second-color;
    overflow-x: hidden;
} 
body {
    // background-color:$white ;
    background-color: $white ;

}
*, *::before,*::after{
    box-sizing:border-box;
    margin: 0 ; 
    padding: 0;
}
header{
    padding: 20px 20px;
    background-color : $main-color;
    margin-bottom: 20px;
}
h1 {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
li{ 
    filter: opacity(0.8);
    list-style: none;
    text-align: center;
    padding: 2em 0;
    border-bottom: 0.1px dotted ;
}
li:first-child{
    margin-top: 100px;
}
li:hover {
    transition: 0.5s ease-in-out;
    background-color: $main-color;
}

a{
    text-decoration: none;
    color: $second-color;
    font-size : 1.2em
}
 nav{
    background-color: $modal-second-color;
    position: fixed;
    top :0 ; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index : 998;
    transform: translate(0,-100%);
    transition: 0.3s ease-in-out  ;
} 
.li-menu-is-active{
    transform: translate(0,0);
}
.function-buttons {
    filter: opacity(0.9);
    position: fixed;
    z-index: 999;
    display: block;
    background-color: $main-color;
    padding: 0.2em;
    border-radius: 50%;
    bottom: 1rem;
}
.hamburger-container{
    right: 10px;
}
.scroll-top-button{
    font-size: 1.5em;
    right : 3em;
    z-index: 997;
    transition: all 0.1s ease-in ;
    &:hover{
        background-color: $second-color;
        color : $main-color;
    }
}
.theme-chooser {
    left : 0 ;
    background-color: $second-color;
}
.theme-chooser-is-active{
    left : 0 ;
    background-color: $white;
}

.hidden {
    opacity: 0;
    visibility: hidden;
} 
section {
    width: $section-width;
    height: $section-heigth;
}

.popUpTopInfo{
    position: fixed;
    top : 0 ; 
    right : 0; 
    left:0 ;
    padding: 5px 0 5px 0 ;
}

.danger {
    background-color : #bd444a;
}